.graphics-aside__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #838383;
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(-180deg);
    margin-right: 10px;
}

.graphics-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    width: 255px;
}

.graphics-container-buttons button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #369AFC;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.graphics-container-buttons button:hover {
    background: #2288f8;
}